name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -U pip
          pip install -r requirements.txt
      - name: Run tests
        env:
          RUN_EVAL: 'false'
        run: |
          source venv/bin/activate
          pytest -q

